@{
  Layout = "~/Views/Shared/Layout.cshtml";
  ViewBag.Title = "二手/全新辦公家具,二手辦公家具回收,全新辦公家具買賣,辦公家具買賣回收-TGC禾吉辰辦公家具";
  ViewBag.Keywords = "辦公家具,辦公家具買賣,辦公家具回收,二手辦公家具回收,二手辦公家具買賣回收,辦公桌,辦公椅,屏風,二手辦公家具,辦公家具買賣回收,全新辦公家具買賣,辦公家具設備";
  ViewBag.Description = "全新辦公家具買賣,二手辦公家具回收,中古辦公家具買賣回收,TGC禾吉辰辦公家具-專營辦公家具買賣回收,提供辦公家具線上估價服務,可線上估算全新辦公家具買賣及二手辦公家具回收價格!辦公家具買賣回收,找經驗豐富/價格公道/誠信經營/專業服務的TGC禾吉辰辦公家具";
  }

@section styles {
<link rel="stylesheet" href="~/Content/css/page.css">
}

@Html.Partial("sidebar")

<ul class="breadCrumb">
	<li><a href="~/index">HOME</a></li>
	<li>色卡介紹</li>
</ul>

<div id="content">
	
	<h3><em>04</em>色卡介紹</h3>

	<ul class="tab">
		<li><a href="~/Info/Info" class="btn">色卡1</a></li>
		<li><a href="~/Info/Info2" class="btn">色卡2</a></li>
		<li><a href="~/Info/Info3" class="btn">色卡3</a></li>
		<li><a href="~/Info/Info4" class="btn current">色卡4</a></li>
		<li><a href="~/Info/Info5" class="btn">色卡5</a></li>
		<li><a href="~/Info/Info6" class="btn">色卡6</a></li>
		<li><a href="~/Info/Info7" class="btn">色卡7</a></li>
	</ul>

	<p>圖片顏色會因不同螢幕而略有差異，請以實品為主。</p>

	<p><img src="~/Content/images/Info/pic4.jpg" alt=""></p>

	<div class="align-r">
		<a class="btn" href="#header">▲TOP</a>
	</div><!-- align-r //-->
	
</div><!-- content //-->