@{
  Layout = "~/Views/Shared/Layout.cshtml";
  ViewBag.Title = "二手辦公家具回收,全新辦公家具買賣,辦公家具買賣回收,二手/全新辦公家具-TGC禾吉辰OA辦公家具";
  ViewBag.Keywords = "辦公家具,辦公家具買賣,辦公家具回收,辦公家具買賣回收,全新辦公家具買賣,二手辦公家具回收,二手辦公家具買賣回收,辦公桌,辦公椅,二手辦公家具,辦公家具設備,OA辦公家具";
  ViewBag.Description = "TGC禾吉辰OA辦公家具,專營辦公家具買賣回收,全新辦公家具買賣,二手辦公家具買賣回收,OA辦公家具,辦公室規劃裝潢,辦公設備,辦公桌/辦公椅/沙發/屏風/會議桌/檔案櫃,全新辦公家具買賣,中古二手辦公家具買賣,辦公家具買賣回收,經驗豐富/價格公道/誠信經營/專業服務。";
  }

@section styles {
<link rel="stylesheet" href="~/Content/css/page.css">
}

@Html.Partial("sidebar")

<ul class="breadCrumb">
	<li><a href="~/index">HOME</a></li>
	<li>公司簡介</li>
</ul>

<div id="content">
	
	<h3><em>01</em>公司簡介</h3>
	
	<p><strong>禾吉辰企業社</strong>有鑒於每個公司辦公室規劃因成本考量，及搬遷改裝的專業服務等越來越多的需求，進而從傳統服務方式，加強網路行銷及與客戶互動服務的方便及效率，成立<strong>二手.全新辦公家具買賣網</strong>，提供相關線上服務，讓您能不出門也能為自己的公司添購辦公家具，或要求提供搬遷及公司內部改裝之服務。希望成立本網站後，各個公司企業能有更方便的選擇，節省您的寶貴時間及成本，我們專業的服務更能滿足您的需求！</p>
	<p>我們的產品隨時會更新，歡迎您隨時上網參觀，若您有急需任何產品及服務，歡迎您不吝來電洽詢，我們將竭盡所能為您服務，謝謝您！</p>
	<p>若您有<u>二手</u>或<u>舊辦公家具</u>要賣，也可以找我們，我們提供E-mail來信估價、手機Line估價、現場估價，全方位為您服務！若您要搬遷公司，那更是要找專業的我們，服務一次就知道我們的專業與效率。歡迎各企業老闆來電洽詢，再次謝謝您！<u>禾吉辰TGC全體員工</u>謝謝您的惠顧並感謝您的現場光臨，<strong>請先來電預約</strong>以免向隅！</p>
	<cite>一通電話服務就到(請先來電：0912-262-800 [陳先生])<br>服務地區：台北~新竹</cite>
	
	<div class="map">
	  <a href="http://goo.gl/maps/iQ7np" target="new"><img src="~/Content/images/map1.jpg">點選看放大地圖</a>
	</div>
	<div class="map">
	  <a href="http://goo.gl/maps/11pzO" target="new"><img src="~/Content/images/map2.jpg">點選看放大地圖</a>
	</div>
	
	<div class="align-r">
		<a class="btn" href="#header">▲TOP</a>
	</div><!-- align-r //-->
	
</div><!-- content //-->